---
import { ohana } from "@ohanaui/ohanaui";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Ohana UI</title>
  </head>
  <body>
    <ohana.div>Ohana</ohana.div>
  </body>
</html>
